<h1>Nova prova</h1>

<% if @prova.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@prova.errors.count, "erro") %> impedem que o prova seja gravada no banco de dados:</h2>

    <ul>
      <% @prova.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :prova, url: '/provas', local: true do |form| %>
  <p>
    <%= form.label :disciplina %><br>
    <%= form.text_field :disciplina %>
  </p>

  <p>
    <%= form.submit 'Salvar nova prova' %>
  </p>
<% end %>