<div id="<%= dom_id questao_fechada %>">
  <p>
    <strong>Grupo questao:</strong>
    <%= questao_fechada.grupo_questao %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= questao_fechada.titulo %>
  </p>

  <p>
    <strong>Enunciado:</strong>
    <%= questao_fechada.enunciado %>
  </p>

  <p>
    <strong>Total alternativas:</strong>
    <%= questao_fechada.total_alternativas %>
  </p>

  <p>
    <strong>Alternativas aluno:</strong>
    <%= questao_fechada.alternativas_aluno %>
  </p>

  <p>
    <strong>Alternativas:</strong>
    <%= link_to "Ver alternativas", questao_fechada %>
  </p>

  <p>
    <strong>Alternativa correta:</strong>
    <%= questao_fechada.alternativa_correta %>
  </p>

</div>
