<div id="<%= dom_id questao %>">
  <p>
    <strong>Grupo questao:</strong>
    <%= questao.grupo_questao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= questao.tipo %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= questao.titulo %>
  </p>

  <p>
    <strong>Enunciado:</strong>
    <%= questao.enunciado %>
  </p>

  <p>
    <strong>Total alternativas:</strong>
    <%= questao.total_alternativas %>
  </p>

  <p>
    <strong>Alternativas aluno:</strong>
    <%= questao.alternativas_aluno %>
  </p>

  <p>
    <strong>Alternativas:</strong>
    <%= questao.alternativas %>
  </p>

  <p>
    <strong>Alternativa correta:</strong>
    <%= questao.alternativa_correta %>
  </p>

</div>
