<p style="color: green"><%= notice %></p>

<%= render @questao_fechada %>

<div>
  <%= link_to "Editar essa questão", edit_questao_fechada_path(@questao_fechada) %> |
  <%= link_to "Voltar para questões fechadas", questoes_fechadas_path %>

  <%= button_to "Apagar essa questão", @questao_fechada, method: :delete %>
</div>
