<p style="color: green"><%= notice %></p>

<%= render @professore %>

<div>
  <%= link_to "Edit this professore", edit_professore_path(@professore) %> |
  <%= link_to "Back to professores", professores_path %>

  <%= button_to "Destroy this professore", @professore, method: :delete %>
</div>
