
<link rel="stylesheet" type="text/css" href="/assets/login.css"/>


<%= render partial: "shared/navabar" %>


<main>

<div class="img">
      <img src="/assets/iStudy-qualidade.png">
</div>

<div class = "div_central">
<%= form_with url: sign_in_path do |form| %>
  
  
      <div class="mb-3">
      <%= form.label :nusp %>
      <%= form.text_field :nusp, class: "form-control", placeholder: "Exemplo: 11840300" %>
      </div>
     

      <div class="mb-3 div_button">
      <%= form.submit "entrar", class: "button" %>
      </div>

<% end %>

</div>

</main>