<%= form_with(model: alternativa) do |form| %>

    <div style="color: red">
      <% if alternativa %>
      
      <h2><%= pluralize(alternativa.errors.count, "error") %> prohibited this alternativa from being saved:</h2>
      <ul>

        <% alternativa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      
      <% end %>
    </div>

  <div>
    <%= form.label :alternativa, style: "display: block" %>
    <%= form.text_area :alternativa %>
  </div>

  <div>
    <%= form.label :correta, style: "display: block" %>
    <%= form.check_box :correta %>
  </div>

  <div>
    <%= form.label :questao_fechada_id, 'ID Questão Fechada', style: "display: block" %>
    <%= form.text_field :questao_fechada_id %>
  </div>

  <div>
    <%= form.submit "Salvar alternativa" %>
  </div>
<% end %>
